<a href="https://colab.research.google.com/github/juturpraveen/End-to-End-Machine-Learning-Project/blob/master/End_to_End_Machine_Learning_Project_at_office.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:

import os
import tarfile
from six.moves import urllib

DOWNLOAD_ROOT = "https://raw.githubusercontent.com/ageron/handson-ml/master/"
HOUSING_PATH = os.path.join("datasets", "housing")
HOUSING_URL = DOWNLOAD_ROOT + "datasets/housing/housing.tgz"

def fetch_housing_data(housing_url=HOUSING_URL, housing_path=HOUSING_PATH):
    if not os.path.isdir(housing_path):
        os.makedirs(housing_path)
    tgz_path = os.path.join(housing_path, "housing.tgz")
    urllib.request.urlretrieve(housing_url, tgz_path)
    housing_tgz = tarfile.open(tgz_path)
    housing_tgz.extractall(path=housing_path)
    housing_tgz.close()

In [0]:
fetch_housing_data()

In [0]:
import pandas as pd

def load_housing_data(housing_path=HOUSING_PATH):
    csv_path = os.path.join(housing_path, "housing.csv")
    return pd.read_csv(csv_path)

In [0]:
housing = load_housing_data()

In [17]:
housing.head(2).T

                           0         1
longitude            -122.23   -122.22
latitude               37.88     37.86
housing_median_age        41        21
total_rooms              880      7099
total_bedrooms           129      1106
population               322      2401
households               126      1138
median_income         8.3252    8.3014
median_house_value    452600    358500
ocean_proximity     NEAR BAY  NEAR BAY